 
 .main{
     display: grid;
     grid-template-rows: 4% 3% 90% 3%;
     height: 100vh;

 }

 .addTodo{
     grid-row: 1 / 1;
     min-height: 50px;
 }

 .deleteDoneButton {
     grid-row: 2 / 2;
     align-items: center;
 }

 .toDos{
     grid-row: 3 / 3;
 }
 

