.toDoInList{
    border: 0.2rem double rgb(25, 27, 25);
}

.toDoContentHidden {
    grid-area: 2 / 1 / 2 /2;
    display: none;
}

.toDoStatusWaiting{
    grid-area: 1 / 3 / 3 /3;
    align-self: center;
    border: 0.3rem outset rgb(175, 233, 170);
}
.toDoStatusInprogress{
    grid-area: 1 / 3 / 3 /3;
    align-self: center;
    border: 0.3rem outset rgb(216, 174, 83);
}
.toDoStatusDone{
    grid-area: 1 / 3 / 3 /3;
    align-self: center;
    border: 0.3rem outset rgb(157, 201, 221);
}


